.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 3rem;
  width: 10rem;
}
.menu-lists {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  color: white;
}
.menu-lists > li > a:hover {
  cursor: pointer;
  color: var(--orange);
  transition: 0.5s;
}
.menu-lists > li > a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 769px) {
  .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
}
@media screen and (max-width: 769px) {
  .menu-lists {
    background-color: var(--appColor);
    flex-direction: column;
    padding: 2rem;
  }
}
