.join {
  display: flex;
  gap: 10rem;
  padding: 0 2rem;
}
.left-j {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.left-j > div {
  display: flex;
  gap: 1rem;
}
.left-j > hr {
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
  position: absolute;
  width: 10.5rem;
}
.right-j {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.email-container {
  background-color: gray;
  display: flex;
  gap: 3rem;
  padding: 1rem 2rem;
}
.email-container > input {
  background-color: initial;
  border: none;
  color: var(--lightgray);
  outline: none;
}
.btn-j {
  background-color: var(--orange);
  color: #fff;
  border: 4px solid transparent;
  font-weight: 700;
  padding: 0.5rem;
  transition: all 0.3s;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
@media (max-width: 960px) {
  .join {
    gap: 5rem;
  }
}
@media (max-width: 851px) {
  .join {
    flex-direction: column;
  }
}
@media (max-width: 321px) {
  .left-j {
    font-size: 1.5rem;
  }
  .email-container {
    gap: 0rem;
  }
}
